{
  "openapi": "3.1.0",
  "info": {
    "title": "PioAgent Customer API",
    "description": "Customer-facing API for PioAgent. This specification is generated from the PioAgent service and synchronized into this repository by GitHub Actions \u2014 do not edit it by hand.",
    "version": "1.0.0",
    "contact": {
      "name": "PioAgent Support",
      "email": "support@piovation.com"
    }
  },
  "servers": [
    {
      "url": "https://api.pioagent.app",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Users",
      "description": "Manage and look up user accounts in your workspace."
    },
    {
      "name": "Tasks",
      "description": "Read tasks created and executed by your agents."
    }
  ],
  "paths": {
    "/api/v1/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get all users",
        "description": "Get all users. Returns every user account in the calling workspace, including inactive users. Requires a valid API key.",
        "operationId": "listUsers",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/User"
                  },
                  "type": "array",
                  "title": "Response Listusers"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/users/{user_id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get a user by ID",
        "description": "Retrieve a single user account by its stable identifier. Returns 404 if no user with the given ID exists in the workspace.",
        "operationId": "getUser",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "User Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "404": {
            "description": "No user with this ID exists."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/tasks": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get all tasks",
        "description": "Get all tasks. Returns every task created by your agents, newest first. Use the `status` query parameter to filter by task status.",
        "operationId": "listTasks",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^(pending|in_progress|completed)$"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only return tasks with this status. One of `pending`, `in_progress`, or `completed`. Omit to return all tasks.",
              "title": "Status"
            },
            "description": "Only return tasks with this status. One of `pending`, `in_progress`, or `completed`. Omit to return all tasks."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  },
                  "title": "Response Listtasks"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key sent as a bearer token in the Authorization header."
      }
    },
    "schemas": {
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "Task": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Stable identifier for the task, e.g. `task_001`."
          },
          "title": {
            "type": "string",
            "title": "Title",
            "description": "Human-readable summary of the task."
          },
          "status": {
            "type": "string",
            "pattern": "^(pending|in_progress|completed)$",
            "title": "Status",
            "description": "Current lifecycle state of the task."
          },
          "assignee_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Assignee Id",
            "description": "ID of the user assigned to this task, if any."
          }
        },
        "type": "object",
        "required": [
          "id",
          "title",
          "status"
        ],
        "title": "Task",
        "description": "A unit of work created and executed by an agent."
      },
      "User": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Stable identifier for the user, e.g. `usr_001`."
          },
          "email": {
            "type": "string",
            "format": "email",
            "title": "Email",
            "description": "The user's email address."
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "The user's display name."
          },
          "is_active": {
            "type": "boolean",
            "title": "Is Active",
            "description": "Whether the user can currently sign in."
          }
        },
        "type": "object",
        "required": [
          "id",
          "email",
          "name",
          "is_active"
        ],
        "title": "User",
        "description": "A user account in a PioAgent workspace."
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          },
          "input": {
            "title": "Input"
          },
          "ctx": {
            "type": "object",
            "title": "Context"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    }
  }
}
